header {
    text-align: center;
    background: lightblue;
    font-size: 20px;
    margin: 10px 0;
    padding: 20px;
}

.generateBtn {
    font-size: 20px;
}

.movie {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    /*background: wheat;*/
}

.meal {
    display: flex;
    justify-content: space-around;
    /*background: wheat;*/
}

.search {
    background-color:wheat;
    display: flex;
    width: 38%;
}

.result {
    border: solid black;
    width: 50%;
    background: wheat;
}

.movieInfo, .mealInfo {
    display: flex;
    justify-content: space-around;
}